.ExpandingSection {
  display: flex;
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
  flex-direction: column;
  transition: max-height 250ms, padding 250ms;
}

.ExpandingSection--expanded {
  max-height: 450px;
  padding: 10px;
}

.ExpandingSection--expanded--delayed {
  transition-delay: 500ms;
}

.ExpandingSection__content {
  flex-shrink: 1;
  overflow: auto;
}
