.ExpandingSection {
  position: relative;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height 250ms ease-in-out, padding 250ms ease-in-out;
}

.ExpandingSection--expanded {
  height: 200px;
  padding: 10px;
}

.ExpandingSection--expanded--delayed {
  transition-delay: 500ms;
}

.ExpandingSection__close {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 24px;
  color: #222;
  text-decoration: none;
  user-select: none;
}
