.ExpandingSection {
  display: flex;
  height: 0;
  padding: 0 10px;
  overflow: hidden;
  flex-direction: column;
  transition: height 250ms ease-in-out, padding 250ms ease-in-out;
}

.ExpandingSection--expanded {
  height: 200px;
  padding: 10px;
}

.ExpandingSection--expanded--delayed {
  transition-delay: 500ms;
}

.ExpandingSection__content {
  flex: 1;
  overflow: auto;
}

.ExpandingSection__footer {
  display: flex;
  padding-top: 5px;
}

.ExpandingSection__spacer {
  flex: 1;
}

.ExpandingSection__close {
  font-size: 24px;
  color: #222;
  text-decoration: none;
  user-select: none;
}
