.Footer__content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.Footer__credit {
  text-align: right;
}

.Footer__credit-logo {
  width: 54px;
  vertical-align: bottom;
  transition: opacity 250ms;
}

.Footer__credit-logo:active,
.Footer__credit-logo:focus,
.Footer__credit-logo:hover {
  opacity: 0.7;
}
