.Header__content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.Header__nav {
  display: flex;
  width: 100%;
  padding-top: 10px;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .Header__nav {
    flex-direction: column;
  }

  .Header__nav-link--home {
    order: -1;
  }
}

.Header__nav-link {
  flex: 1;
}

.Header__nav-link__anchor {
  text-decoration: none;
}

.Header__nav-link__anchor--active {
  color: white !important;
  cursor: auto;
}

.Header__nav-link__anchor-image {
  transition: opacity 250ms;
}

.Header__nav-link__anchor:not(.Header__nav-link__anchor--active):active
  .Header__nav-link__anchor-image,
.Header__nav-link__anchor:not(.Header__nav-link__anchor--active):focus
  .Header__nav-link__anchor-image,
.Header__nav-link__anchor:not(.Header__nav-link__anchor--active):hover
  .Header__nav-link__anchor-image {
  opacity: 0.7;
}

.Header__nav-link__anchor--active .Header__nav-link__anchor-image {
  opacity: 0.5;
}
