.Header {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: white;
}

.Header__nav {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: auto;
  justify-content: space-around;
}

.Header__nav-link {
  flex: 1;
  padding: 20px;
}

.Header__nav-link--home {
  padding-top: 0;
  padding-bottom: 40px;
}

.Header__nav-link__anchor {
  color: white;
  text-decoration: none;
}

.Header__nav-link__anchor:active,
.Header__nav-link__anchor:focus,
.Header__nav-link__anchor:hover {
  color: #aaa;
}
