.ProjectThumbnail {
  width: 100%;
  max-width: 50%;
  padding: 10px 0;
}

.ProjectThumbnail:nth-child(2n + 1) {
  padding-right: 10px;
}

.ProjectThumbnail:nth-child(2n) {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .ProjectThumbnail {
    max-width: 100%;
  }

  .ProjectThumbnail:nth-child(2n + 1) {
    padding-right: 0;
  }

  .ProjectThumbnail:nth-child(2n) {
    padding-left: 0;
  }
}

.ProjectThumbnail__previews {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.ProjectThumbnail__preview {
  flex: 1;
  min-width: 33.333333%;
  min-width: calc(100% / 3);
  cursor: pointer;
}

.ProjectThumbnail__image {
  display: block;
}

.ProjectThumbnail__title {
  text-align: center;
}
